html {
    color: white;
    background-color: #363636;
}

text {
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
}

.year {
    font-size: 1.3rem;
    color: white;
}

legend {
    font-size: 0.5rem;
    font-family: sans-serif;
}